html, body{
    font-family: 'PT Sans', sans-serif;
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
    background-color:#000;
    overflow-y:hidden;
    overflow-x:hidden;
}

#container{
	position: relative; 
    top:-20px;
}

#legend{
	background-color: rgba(0,0,0,0.7);
	font-size: 75%;
    padding:20px;
	position: absolute;
    right:70px;
    top:20px;
    z-index:999;
    color:#fff;
}

.hdrs {
    position: absolute;
    top:20px;
    left:20px;
    z-index:1000;
    color:#FF358B;
}

.hdrs h1, h2{
    margin:0px;
}

.search{
    position: absolute;
    left: 20px;
    bottom: 150px;
    color: #fff;
    z-index:5000;
}

.search input.form-control{
    padding: 7px 9px;
    font-size: 15px;
    margin: 5px 0px;
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color:rgba(255,255,255,0.5);
}

.search input:focus{
    background-color: #fff;
}

.search input[type="button"]{
    padding: 7px 9px;
    background-color: rgba(71,181,255,0.5);
    color:#fff;
    font-size: 15px;
    position:relative;
    top: 11px;
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
}

.search input[type="button"]:focus{
    background-color: rgba(71,181,255,1);
}

.table{
    position: absolute;
    bottom: 100px;
    right: 70px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 7px 10px;
    font-size: 11px;
}

.table h3{
    text-align:center;
    color:#FF358B;
}

.table table{
    margin:0px auto;
}

#emigrantCountryVis1{
    position: fixed;
    top: 30%;
    right: 70%;
    left: 30%;
    bottom: 70%;
    width: 450px; 
    height: 250px;
    font-size: 75%;
    background-color: rgba(0,0,0,0.7);
    padding:10px;
    z-index:999;
    color:#ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#emigrantCountryVis2{
    position: fixed;
    top: 30%;
    right: 30%;
    left: 70%;
    bottom: 70%;
    width: 450px; 
    height: 250px;
    font-size: 75%;
    background-color: rgba(0,0,0,0.7);
    padding:10px;
    z-index:999;
    color:#ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#immigrantCountryVis1{
    position: fixed;
    top: 70%;
    right: 70%;
    left: 30%;
    bottom: 30%;
    width: 450px; 
    height: 250px;
    font-size: 75%;
    background-color: rgba(0,0,0,0.7);
    padding:10px;
    z-index:999;
    color:#ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#immigrantCountryVis2{
    position: fixed;
    top: 70%;
    right: 30%;
    left: 70%;
    bottom: 30%;
    width: 450px; 
    height: 250px;
    font-size: 75%;
    background-color: rgba(0,0,0,0.7);
    padding:10px;
    z-index:999;
    color:#ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tick {
  stroke: #ffffff;
  stroke-width: 0.5;
}

.axis {
  stroke: #ffffff;
  stroke-width: 1;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}