body{
    font-family: 'PT Sans', sans-serif;
}
#container{
	position: relative; 
	width: 1800px; 
	height: 800px;
}
#legend{
	background-color: rgb(200,200,200);
	font-size: 75%;
	width: 400px;
	height:300px;
	position: absolute;
}